.label {
    -fx-text-fill: -primary-text-color;
    -fx-font-size: 1em;
}

.glyph-icon:hover {
    -fx-fill: -primary-text-color-hover;
}

.glyph-icon {
    -fx-fill: -primary-text-color;
}

/* global button */
.button {
    -fx-background-color: -primary-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: -primary-button-color-hover;
}

.button .glyph-icon {
    -fx-fill: white;
}

.danger-button {
    -fx-background-color: #d83c3e;
}

.danger-button:hover {
    -fx-background-color: #d90429;
}

/* text field */
.text-field {
    -fx-background-color: -fx-text-box-border, -secondary-background-200;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: derive(-primary-text-color, -30%);
    -fx-text-fill: -primary-text-color;
}

.text-field:focused {
    /*-fx-background-color: black, -secondary-background-200;*/
    -fx-effect: dropshadow( three-pass-box, black , 5 , 0, 0, 0);
    -fx-prompt-text-fill: derive(-primary-text-color, -30%);
}

.text-area {
    -fx-text-fill: -primary-text-color;
}

.text-area .content {
    -fx-background-color: -secondary-background-200;
}

.text-area:focused {
    -fx-background-color: transparent, -secondary-background-200;
    -fx-effect: dropshadow( three-pass-box, black , 5 , 0, 0, 0);
    -fx-prompt-text-fill: derive(-primary-text-color, -30%);
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -secondary-background-100;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell {
    /*-fx-text-fill: -primary-text-color;*/
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-view .table-cell {
    -fx-text-fill: -primary-text-color;
    -fx-pref-height: 50px;
    -fx-alignment: CENTER-LEFT;
}

.table-row-cell:odd {
    -fx-background-color: -primary-background-200;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: -primary-background-300;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: -secondary-background-200;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 10px;
    -fx-background: -fx-accent;
}

/*!* Row hovered *!*/
/*.table-view:row-selection .table-row-cell:filled:hover {*/
/*    -fx-background-color: yellow;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*}*/

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -secondary-background-100;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  -secondary-background-100;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -secondary-background-100;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: -secondary-background-100;
}

.scroll-bar:vertical, .scroll-bar:vertical .track,
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal, .scroll-bar:horizontal .track,
.scroll-bar:horizontal .track-background {
    -fx-background-color: -primary-background-color;
}

.scroll-pane {
    -fx-background: -primary-background-color;
    -fx-background-insets: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: -primary-text-color;
}

.tab-pane .tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
    -fx-background-color: -primary-background-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:hover {
    -fx-background-color: rgba(0,0,0,0.3);
}

.tab-pane .tab:selected {
    -fx-background-color: -secondary-background-100;
    -fx-border-color: transparent;

}

.check-box {
    -fx-text-fill: -primary-text-color;
}

.main-bg {
    -fx-background-color: -primary-background-color;
}

/* sidebar */
.sidebar-bg {
    -fx-background-color: -secondary-background-100;
}

.sidebar-menu-btn {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-text-color;
    -fx-cursor: hand;
    -fx-font-size: 1em;
}

.sidebar-menu-btn .glyph-icon {
    -fx-fill: -primary-text-color;
}

.sidebar-menu-btn:hover {
    -fx-text-fill: -primary-text-color-hover;
    -fx-background-color: transparent;
}

.sidebar-menu-btn:hover > .glyph-icon {
    -fx-fill: -primary-text-color-hover;
}

.active {
    -fx-text-fill: -primary-text-color-hover;
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: -primary-text-color-hover;
}

.active > .glyph-icon {
    -fx-fill: -primary-text-color-hover;
}

.logo-title {
    -fx-text-fill: -primary-text-color;
    -fx-font-size: 1.5em;
    -fx-font-weight: bolder;
}

.title {
    -fx-font-size: 1.25em;
}

.welcome-title {
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, repeat, -gradient-title-color-start, -gradient-title-color-end);
    -fx-font-size: 1.6em;
    -fx-font-weight: 900;
}

/* setting page */
.account-bg {
    -fx-background-color: -secondary-background-200;
    -fx-background-radius: 10;
}

.combo-box {
    -fx-background-color: -secondary-background-200;
}

.combo-box .list-cell {
    -fx-text-fill: -primary-text-color;
}

.combo-box .list-view .list-cell {
    -fx-background-color: -primary-background-color;
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -secondary-background-100;
}

.danger-box {
    -fx-background-color: #ED2010;
}

.warning-box {
    -fx-background-color: #F6B801;
}

.success-box {
    -fx-background-color: #62D538;
}

.danger-box .label,
.warning-box .label,
.success-box .label {
    -fx-text-fill: white;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-text-color;
}

.transparent-button > .glyph-icon {
    -fx-fill: -primary-text-color;
}

.transparent-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-text-color-hover;
}

.transparent-button:hover > .glyph-icon {
    -fx-fill: -primary-text-color-hover;
}

.voted {
    -fx-text-fill: -primary-button-color;
}

.voted .glyph-icon {
    -fx-fill: -primary-button-color;
}

.status {
    -fx-background-color: gray;
    -fx-background-radius: 10px;
    -fx-font-size: 0.8em;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
}

.in-progress {
    -fx-background-color: #F6B801;
}

.done {
    -fx-background-color: #62D538;
}