.label {
    -fx-font-size: 16px;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.register-btn, .back-btn, .upload-btn {
    -fx-background-color: #00ADB5;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-width: 50px;
}

.register-btn:hover, .back-btn:hover, .upload-btn:hover {
    -fx-background-color: rgba(0, 173, 181, 0.8);
}

.logo-title {
    -fx-font-size: 32px;
    -fx-font-weight: bolder;
}

.register-bg {
    -fx-background-image: url('../images/mountain-bg.jpg');
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.rule-box .label {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.border-box {
    -fx-border-color: gray;
    -fx-border-radius: 5px;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.transparent-button > .glyph-icon {
    -fx-fill: black;
}

.transparent-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #5765f2;
}

.transparent-button:hover > .glyph-icon {
    -fx-fill: #5765f2;
}

.error-field {
    -fx-border-color: red;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: derive(red, -30%);
}

.error-text {
    -fx-text-fill: red;
}