@font-face {
    font-family: "Kanit";
    src: url("./downloads/Kanit-Regular.ttf");
}

@font-face {
    font-family: "Kanit-Bold";
    src: url("./downloads/Kanit-Bold.ttf");
}

@font-face {
    font-family: "Kanit-SemiBold";
    src: url("./downloads/Kanit-SemiBold.ttf");
}

.root {
    -fx-font-family: "Kanit";
    -fx-tick-label-font-family: "Kanit";
}
