@font-face {
    font-family: "Sarabun";
    src: url("./downloads/Sarabun-Regular.ttf");
}

@font-face {
    font-family: "Sarabun-Bold";
    src: url("./downloads/Sarabun-Bold.ttf");
}

@font-face {
    font-family: "Sarabun-SemiBold";
    src: url("./downloads/Sarabun-SemiBold.ttf");
}

.root {
    -fx-font-family: "Sarabun";
    -fx-tick-label-font-family: "Sarabun";
}
