.root {
    -primary-background-color: #323232;
    -secondary-background-color: #212121;
    -primary-text-color: white;
    -primary-text-color-hover: #00ADB5;
    -primary-button-color: #7289da;
    -primary-button-color-hover: #4d62ac;
    -gradient-title-color-start: #2193b0;
    -gradient-title-color-end: #6dd5ed;
}