.root {
    -primary-background-color: #F0F5F9;
    -secondary-background-color: #C9D6DF;
    -primary-text-color: black;
    -primary-text-color-hover: #0D7377;
    -primary-button-color: #7289da;
    -primary-button-color-hover: #4d62ac;
}